
@{
    ViewBag.Title = "ProductDetail";
}

<div class="container pb-5">
    <div class="row">

        <div class="col-md-6">
            <img src="~/Content/img/cam.jpg" class="img-responsive w-100" />
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>Kodak Kamera #235626</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <span class="badge badge-primary">In Stock</span>
                    <span class="product-number">#242545</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="description">
                        Place sticky footer content here.Place sticky footer content here.Place sticky footer content here.Place sticky footer content here.Place sticky footer content here.Place
                    </div>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    <span class="badge badge-success">53</span>
                </div>
                <div class="col-md-4">
                    Write a review
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 id="product-price">$120</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

